body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1, h2 {
    font-size: 48px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 16px;
    color: #464646;
}

a {
    font-size: 16px;
    color: #EBC154;
}

a:hover {
    font-size: 16px;
    color: #EBC154;
}

.section-padding {
    padding-top: 100px;
}


/** NAVIGATION STYLING STARTS HERE **/

nav {
    height: 60px;
    z-index: 100;
}

.active .nav-link {
    color: #EBC154 !important;
}

.nav-link {
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0) !important;
}

#hero-section {
    position: relative;
}


/** HERO SECTION STYLING STARTS HERE **/

#hero-section .carousel-overlay {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#hero-section .first-slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home-sliders/World.jpg);
}

#hero-section .second-slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home-sliders/Africa.jpg);
    background-position: center;
    height: 100vh;
}

#hero-section .third-slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home-sliders/Desert.jpg);
}

#hero-section .carousel-inner {
    margin-top: -60px;
}

.custom-carousel-img {
    height: calc(100vh + 60px);
    object-fit: cover;
}

#hero-section .carousel-caption h1 {
    text-transform: uppercase;
    margin-top: -100px;
    font-size: 40px;
    /* position: relative; */
    z-index: 90;
}

#hero-section .carousel-caption {
    z-index:10;
    color:#fff;
    text-align:center;
    top:53%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    }

#hero-section h1 .bold-heading {
    font-size: 100px;
}

#hero-section .large-circle {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 100px solid rgba(196, 196, 196, 0.19);
    position: absolute;
    top: calc(45% - 300px);
    left: 13%;
    z-index: 90;
    list-style-type: none;
}

#hero-section .large-circle li {
    height: 0;
    position: absolute;
}

#hero-section .large-circle li:nth-child(1) {
    top: 25%;
    left: -31%
}

#hero-section .large-circle li:nth-child(2) {
    top: 50%;
    left: -31%
}

#hero-section .large-circle li:nth-child(3) {
    top: 75%;
    left: -25%
}

#hero-section .large-circle li img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #fff;
    transition: .5s ease-in-out;
}

#hero-section .large-circle li.active img {
    transform: scale(1.4);
}

#hero-section .carousel-indicators li {
    opacity: 1 !important;
}

#hero-section .scroll-button {
    position: absolute;
    top: 80%;
    left: calc(50% - 12px);
    z-index: 150;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid rgba(196, 196, 196, 0.7);
}

#hero-section .scroll-button a {
    color: #fff;
    border: 5px solid rgba(196, 196, 196, 0.7);
    padding: 0 6px;
    border-radius: 50%;
    display: inline-flex;
    text-decoration: none;
}

/*Desktop screen styling */

@media (min-width: 600px){

    body {
        background-color: #FFF;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .p-style {
        padding-left: 1em;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 40px;
        color: #6C6C6C;


    }

    .text-size{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        font-family: "Montserrat";
    }   

    .icon-style{
        font-size: 16px;
        color: #EBC154;
    }

    .button {
        width: 220px;
        height: 58px;
        background: #EBC154;
        box-shadow: 0px 0px 15px #C4C4C4;
        color: #FFF;
        font-size: 24px;
        font-family: "Montserrat";
    }

    #heading {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        padding: 30px 0 15px 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #000000;

    }

    #hr {
      height: 10px;
      background: #EBC154;;
      width: 135px;
      margin:  0 0 5px 12px;

    }

}

/* Space in-between */
@media screen and (max-width: 700px) and (min-width: 600px) {
    #heading{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        padding: 10px 10px 20px 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #000000; 
    }

    #hr {
      height: 10px;
      background: #EBC154;;
      width: 100px;
      margin:  0 0 5px 12px;

    }
}

/* Mobile screen styling */

@media (max-width: 599px){

    body {
        background-color: #FFF;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }


    .button {
        background: #EBC154;
        box-shadow: 0px 0px 15px #C4C4C4;
        color: #FFF;
        font-size: 14px;
        font-family: "Montserrat";

    }

    .p-style {
        padding-left: 1em;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 40px;
        color: #6C6C6C;
    }
    #heading{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        padding: 10px 0 1px 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #000000; 
    }
    
    .text-size{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        font-family: "Montserrat";
    }

    .icon-style{
        color: #EBC154;
    }

    #hr {
      height: 5px;
      background: #EBC154;;
      width: 65px;
      margin:  0 0 5px 12px;

    }

}


footer {
    margin-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/about-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0 30px;
}

footer input.form-control {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0) !important;
    color: #fff !important;
}

footer .footer-btn {
    background-color: #EBC154;
    color: #fff;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}

footer input.form-control:focus {
    outline: none !important;

}

.footer-nav-link {
    font-size: 16px;
    color: #fff;
}

footer hr {
    border: 0.5px solid #fff;
    margin-top: 0;
}

footer .social-icons div {
    background-color: #EBC154;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

footer .social-links i {
    color: #fff;
    font-size: 18px;
}

footer .footer-navigation {
    padding: 0 40px;
    margin-top: 92px;
}

