
/*Desktop screen styling */

@media (min-width: 600px){

	body {
		background-color: #FFF;
		margin: 0;
		padding: 0;
		font-size: 16px;
	}

	.p-style {
		padding-left: 1em;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 40px;
		color: #6C6C6C;


	}

	.text-size{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		font-family: "Montserrat";
	}	

	.icon-style{
		font-size: 16px;
		color: #EBC154;
	}

	.button {
		width: 220px;
		height: 58px;
		background: #EBC154;
		box-shadow: 0px 0px 15px #C4C4C4;
		color: #FFF;
		font-size: 24px;
		font-family: "Montserrat";
	}

	#heading {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		padding: 80px 0 10px 12px;
		line-height: 14px;
		display: flex;
		align-items: center;
		color: #000000;

	}

	#hr {
	  height: 10px;
	  background: #EBC154;;
	  width: 130px;
	  margin:  0 0 5px 12px;

	}

}

/* Space in-between */
@media screen and (max-width: 700px) and (min-width: 600px) {
	#heading{
		font-family: "Montserrat";
		font-style: normal;
		font-weight: bold;
		font-size: 38px;
		padding: 80px 0 10px 12px;
		line-height: 14px;
		display: flex;
		align-items: center;
		color: #000000; 
	}

	#hr {
	  height: 10px;
	  background: #EBC154;;
	  width: 100px;
	  margin:  0 0 5px 12px;

	}
}

/* Mobile screen styling */

@media (max-width: 599px){

	body {
		background-color: #FFF;
		margin: 0;
		padding: 0;
		font-size: 14px;
	}


	.button {
		background: #EBC154;
		box-shadow: 0px 0px 15px #C4C4C4;
		color: #FFF;
		font-size: 14px;
		font-family: "Montserrat";

	}

	.p-style {
		padding-left: 1em;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 40px;
		color: #6C6C6C;
	}
	#heading{
		font-family: "Montserrat";
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		padding: 80px 0 1px 12px;
		line-height: 14px;
		display: flex;
		align-items: center;
		color: #000000;	
	}
	
	.text-size{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		font-family: "Montserrat";
	}

	.icon-style{
		color: #EBC154;
	}

	#hr {
	  height: 5px;
	  background: #EBC154;;
	  width: 65px;
	  margin:  0 0 5px 12px;

	}

}
